.SearchResults {
  margin: 1rem;
  flex-basis: 300px;
  flex-grow: 1;
  width: 45%;
  max-height: 950px;
  overflow-y: scroll;
  padding: 0.8rem;
  background-color: rgba(1, 12, 63, 0.7);
}

/* .SearchResults h2 {
  
} */

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
