.YourPlaylist {
  position: relative;
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* flex-basis: 300px; */
  max-height: 950px;
  padding: 0.8rem;
  background-color: rgba(1, 12, 63, 0.7);
  /* flex-grow: 1; */
}

.Playlist-save {
  cursor: pointer;
  /* width: 10rem; */
  padding: 0.77rem 1.5rem;
  border-radius: 54px;
  border-width: 0px;
  margin: 0 auto;
  background-color: #6c41ec;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  color: #fff;
  font-weight: 500;
}

.YourPlaylist .Playlist-save {
  margin-top: 1rem;
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

.update {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
  opacity: 0.5;
  transition: all 0.2s;
}

.update:hover {
  opacity: 0.8;
}

.update:active {
  transform: rotate(45deg);
}
