.SearchBar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.SearchBar input {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s;
  height: 55px;
}

.SearchBar input::placeholder {
  color: #ffffff7e;
  font-size: 0.8rem;
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  outline: none;
  height: 55px;
  cursor: pointer;
  width: 8.11rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  background-color: #010c3f;
  text-align: center;
  font-size: 0.833rem;
  transition: background-color 0.25s;
  border: 0px;
  color: rgba(255, 255, 255, 0.787);
  font-weight: 500;
}

.connected {
  width: 8.11rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  background-color: #005f15;
  text-align: center;
  font-size: 0.833rem;
  transition: all 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: rgba(108, 65, 233, 0.7);
  color: rgba(255, 255, 255);
}
