.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.SearchBar input {
  width: 80%;
  min-width: 280px;
  max-width: 900px;
  height: 2rem;
  padding: 0.5rem 0;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 206, 231, 0.5);
  border-radius: 0.5rem;
  margin-bottom: 2.22rem;
  color: #070e41;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.2s;
}

.SearchBar input::placeholder {
  color: #ffffff7e;
  font-size: 1rem;
}

.SearchBar input:focus {
  outline: none;
  transform: scaleX(1.1);
  border: 3px solid rgba(255, 255, 255, 1);
}

.SearchButton {
  outline: none;
  cursor: pointer;
  width: 8.11rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  background-color: #010c3f;
  text-align: center;
  font-size: 0.833rem;
  transition: background-color 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.connected {
  width: 8.11rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  background-color: #005f15;
  text-align: center;
  font-size: 0.833rem;
  transition: background-color 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: rgba(108, 65, 233, 0.7);
}
