.Playlist {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  overflow-y: scroll;
  width: 45%;
  flex-basis: 300px;
  max-height: 950px;
  padding: 0.8rem;
  background-color: rgba(1, 12, 63, 0.7);
  flex-grow: 1;
}

.Playlist input {
  /* width: 100%; */
  border: 0;
  outline: 0;
  padding: 0 0.5rem;
  text-align: center;
  border-radius: 0.2rem;
  background: rgba(0, 0, 0, 0.25);
  /* border-bottom: 1px solid #6f6f6f; */
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #f5c63f;
}

.Playlist input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  border-width: 0px;
  margin: 0 auto;
  margin-top: 1.2rem;
  background-color: #6c41ec;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  color: #fff;
  font-weight: 500;
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
